

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Electrolize', sans-serif;
    color: black;
    
}


.add_background{
    background: linear-gradient( to top, rgba(255,255,255,0),
              rgba(255,255,255,1)),url(https://images.pexels.com/photos/434337/pexels-photo-434337.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    min-height: 400px;
    background-size: cover;
    background-repeat: no-;
    background-position: center center; 
    

}

.btn{
    text-shadow: none;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

section {
    padding: 0%;
}

.content{
	padding-top: 18%;
	text-align: center;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


.summary {
    margin-top: 3%;
    margin-bottom: 5%;
    border-radius: 5px;
    font-weight: 500;
    display: inline-block;
    max-width: 80%;
    text-align: left;
}

#summary{
    text-align: center;
}
.summary h5{
    font-size: 1.3em;
    line-height: 130%;
}

.summary li{
    font-size: 1.2em;
}

a {
    font-size: 1.1em;
}


.fa-envelope {
    color: #D44638;
}

.email:hover .fa-envelope:before {
      content:"\f658";
      font-weight: 900;
}

.fa-linkedin{
    color:#0e76a8;
}
.linkedin:hover .fa-linkedin:before {
    content: "\f0e1";
    color:#0e76a8;
}

.nav a:hover{
    text-decoration: underline;
    font-size: 130%;
}


.resume{
    margin-top: 0;
    color: black;
}


.resume_content li{
    list-style-type: circle;
    font-size: 1.2em;
    padding: 0.5%;
}

.company-name{
    font-weight: bold;
    color: black;
}

.company-link {
    font-weight: bold;
    color: black;
}

.resume a:hover {
    color: black;
    cursor: -webkit-grab; cursor: grab;
}


.job_title{
    font-style: italic;
}

#school li{
    padding: 1%;
}
